{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@raiderknight_rkextendsocial/css/rkextendsocial_acp.css' %}

<h1>{{ lang('ACP_RKEXTENDSOCIAL_SETTINGS') }}</h1>
<p>{{ lang('ACP_RKEXTENDSOCIAL_SETTINGS_INFO') }}</p>

<script>
function show_elements(cat) {
	var cat = cat; if (cat === 'collapsible-1')	{ $('#collapsible-1').show(); };
}

function hide_elements(cat) {
	var cat = cat; if (cat === 'collapsible-1')	{ $('#collapsible-1').hide(); };
}
</script>

<form id="acp_rkextendsocial" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend><i class="icon fa-toggle-on fa-fw"></i>{{ lang('ACP_RKEXTENDSOCIAL_ENBL_SETUP') }}</legend>
		<dl>
			<dt>
				<label for="rkextendsocial_enbl">{{ lang('ACP_RKEXTENDSOCIAL_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_enbl" value="1" {% if RKEXTENDSOCIAL_ENBL %} id="rkextendsocial_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_enbl" value="0" {% if not RKEXTENDSOCIAL_ENBL %} id="rkextendsocial_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend><i class="icon fa-cog fa-fw"></i>{{ lang('ACP_RKEXTENDSOCIAL_SCLS_STYLE_SETUP') }}</legend>
		<dl>
			<dt>
				<label for="rkextendsocial_sze">{{ lang('ACP_RKEXTENDSOCIAL_SCLS_SZE') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_sze" value="0" {% if RKEXTENDSOCIAL_SZE == 0 %} id="rkextendsocial_sze" checked="checked"{% endif %}/> {{ lang('ACP_RKEXTENDSOCIAL_SCLS_SML') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_sze" value="1" {% if RKEXTENDSOCIAL_SZE == 1 %} id="rkextendsocial_sze" checked="checked"{% endif %}/> {{ lang('ACP_RKEXTENDSOCIAL_SCLS_MDM') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_sze" value="2" {% if RKEXTENDSOCIAL_SZE == 2 %} id="rkextendsocial_sze" checked="checked"{% endif %}/> {{ lang('ACP_RKEXTENDSOCIAL_SCLS_LRG') }}
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_crnrs">{{ lang('ACP_RKEXTENDSOCIAL_SCLS_CRNRS') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_crnrs" value="0" {% if RKEXTENDSOCIAL_CRNRS == 0 %} id="rkextendsocial_crnrs" checked="checked"{% endif %}/> {{ lang('ACP_RKEXTENDSOCIAL_SCLS_FLT') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_crnrs" value="1" {% if RKEXTENDSOCIAL_CRNRS == 1 %} id="rkextendsocial_crnrs" checked="checked"{% endif %}/> {{ lang('ACP_RKEXTENDSOCIAL_SCLS_RNDD') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_crnrs" value="2" {% if RKEXTENDSOCIAL_CRNRS == 2 %} id="rkextendsocial_crnrs" checked="checked"{% endif %}/> {{ lang('ACP_RKEXTENDSOCIAL_SCLS_RND') }}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend><i class="icon fa-cog fa-fw"></i>{{ lang('ACP_RKEXTENDSOCIAL_SCLS_LINKS_SETUP') }}</legend>
		<div class="collapse-buttons">
			<a href="#" onclick="show_elements('collapsible-1');"><i class="icon fa-plus-circle fa-fw"></i></a>
			<a href="#" onclick="hide_elements('collapsible-1');"><i class="icon fa-minus-circle fa-fw"></i></a>
		</div>
		<div id="collapsible-1">
		<dl>
			<dt>
				<label for="rkextendsocial_wbst_enbl">{{ lang('ACP_RKEXTENDSOCIAL_WBST_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_wbst_enbl" value="1" {% if RKEXTENDSOCIAL_WBST_ENBL %} id="rkextendsocial_wbst_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_wbst_enbl" value="0" {% if not RKEXTENDSOCIAL_WBST_ENBL %} id="rkextendsocial_wbst_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_wbst_url">{{ lang('ACP_RKEXTENDSOCIAL_WBST_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_wbst_url" id="rkextendsocial_wbst_url" value="{{ RKEXTENDSOCIAL_WBST_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_WBST_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_fcbk_enbl">{{ lang('ACP_RKEXTENDSOCIAL_FCBK_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_fcbk_enbl" value="1" {% if RKEXTENDSOCIAL_FCBK_ENBL %} id="rkextendsocial_fcbk_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_fcbk_enbl" value="0" {% if not RKEXTENDSOCIAL_FCBK_ENBL %} id="rkextendsocial_fcbk_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_fcbk_url">{{ lang('ACP_RKEXTENDSOCIAL_FCBK_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_fcbk_url" id="rkextendsocial_fcbk_url" value="{{ RKEXTENDSOCIAL_FCBK_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_FCBK_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_twtr_enbl">{{ lang('ACP_RKEXTENDSOCIAL_TWTR_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_twtr_enbl" value="1" {% if RKEXTENDSOCIAL_TWTR_ENBL %} id="rkextendsocial_twtr_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_twtr_enbl" value="0" {% if not RKEXTENDSOCIAL_TWTR_ENBL %} id="rkextendsocial_twtr_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_twtr_url">{{ lang('ACP_RKEXTENDSOCIAL_TWTR_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_twtr_url" id="rkextendsocial_twtr_url" value="{{ RKEXTENDSOCIAL_TWTR_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_TWTR_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_insta_enbl">{{ lang('ACP_RKEXTENDSOCIAL_INSTA_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_insta_enbl" value="1" {% if RKEXTENDSOCIAL_INSTA_ENBL %} id="rkextendsocial_insta_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_insta_enbl" value="0" {% if not RKEXTENDSOCIAL_INSTA_ENBL %} id="rkextendsocial_insta_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_insta_url">{{ lang('ACP_RKEXTENDSOCIAL_INSTA_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_insta_url" id="rkextendsocial_insta_url" value="{{ RKEXTENDSOCIAL_INSTA_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_INSTA_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_pntrst_enbl">{{ lang('ACP_RKEXTENDSOCIAL_PNTRST_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_pntrst_enbl" value="1" {% if RKEXTENDSOCIAL_PNTRST_ENBL %} id="rkextendsocial_pntrst_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_pntrst_enbl" value="0" {% if not RKEXTENDSOCIAL_PNTRST_ENBL %} id="rkextendsocial_pntrst_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_pntrst_url">{{ lang('ACP_RKEXTENDSOCIAL_PNTRST_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_pntrst_url" id="rkextendsocial_pntrst_url" value="{{ RKEXTENDSOCIAL_PNTRST_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_PNTRST_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_ytube_enbl">{{ lang('ACP_RKEXTENDSOCIAL_YTUBE_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_ytube_enbl" value="1" {% if RKEXTENDSOCIAL_YTUBE_ENBL %} id="rkextendsocial_ytube_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_ytube_enbl" value="0" {% if not RKEXTENDSOCIAL_YTUBE_ENBL %} id="rkextendsocial_ytube_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_ytube_url">{{ lang('ACP_RKEXTENDSOCIAL_YTUBE_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_ytube_url" id="rkextendsocial_ytube_url" value="{{ RKEXTENDSOCIAL_YTUBE_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_YTUBE_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_drbl_enbl">{{ lang('ACP_RKEXTENDSOCIAL_DRBL_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_drbl_enbl" value="1" {% if RKEXTENDSOCIAL_DRBL_ENBL %} id="rkextendsocial_drbl_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_drbl_enbl" value="0" {% if not RKEXTENDSOCIAL_DRBL_ENBL %} id="rkextendsocial_drbl_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_drbl_url">{{ lang('ACP_RKEXTENDSOCIAL_DRBL_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_drbl_url" id="rkextendsocial_drbl_url" value="{{ RKEXTENDSOCIAL_DRBL_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_DRBL_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_cdpen_enbl">{{ lang('ACP_RKEXTENDSOCIAL_CDPEN_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_cdpen_enbl" value="1" {% if RKEXTENDSOCIAL_CDPEN_ENBL %} id="rkextendsocial_cdpen_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_cdpen_enbl" value="0" {% if not RKEXTENDSOCIAL_CDPEN_ENBL %} id="rkextendsocial_cdpen_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_cdpen_url">{{ lang('ACP_RKEXTENDSOCIAL_CDPEN_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_cdpen_url" id="rkextendsocial_cdpen_url" value="{{ RKEXTENDSOCIAL_CDPEN_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_CDPEN_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_gthub_enbl">{{ lang('ACP_RKEXTENDSOCIAL_GTHUB_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_gthub_enbl" value="1" {% if RKEXTENDSOCIAL_GTHUB_ENBL %} id="rkextendsocial_gthub_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_gthub_enbl" value="0" {% if not RKEXTENDSOCIAL_GTHUB_ENBL %} id="rkextendsocial_gthub_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_gthub_url">{{ lang('ACP_RKEXTENDSOCIAL_GTHUB_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_gthub_url" id="rkextendsocial_gthub_url" value="{{ RKEXTENDSOCIAL_GTHUB_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_GTHUB_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_ebay_enbl">{{ lang('ACP_RKEXTENDSOCIAL_EBAY_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_ebay_enbl" value="1" {% if RKEXTENDSOCIAL_EBAY_ENBL %} id="rkextendsocial_ebay_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_ebay_enbl" value="0" {% if not RKEXTENDSOCIAL_EBAY_ENBL %} id="rkextendsocial_ebay_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_ebay_url">{{ lang('ACP_RKEXTENDSOCIAL_EBAY_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_ebay_url" id="rkextendsocial_ebay_url" value="{{ RKEXTENDSOCIAL_EBAY_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_EBAY_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="rkextendsocial_pypl_enbl">{{ lang('ACP_RKEXTENDSOCIAL_PYPL_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_pypl_enbl" value="1" {% if RKEXTENDSOCIAL_PYPL_ENBL %} id="rkextendsocial_pypl_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_pypl_enbl" value="0" {% if not RKEXTENDSOCIAL_PYPL_ENBL %} id="rkextendsocial_pypl_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_pypl_url">{{ lang('ACP_RKEXTENDSOCIAL_PYPL_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_pypl_url" id="rkextendsocial_pypl_url" value="{{ RKEXTENDSOCIAL_PYPL_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_PYPL_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_disco_enbl">{{ lang('ACP_RKEXTENDSOCIAL_DISCO_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_disco_enbl" value="1" {% if RKEXTENDSOCIAL_DISCO_ENBL %} id="rkextendsocial_disco_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_disco_enbl" value="0" {% if not RKEXTENDSOCIAL_DISCO_ENBL %} id="rkextendsocial_disco_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_disco_url">{{ lang('ACP_RKEXTENDSOCIAL_DISCO_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_disco_url" id="rkextendsocial_disco_url" value="{{ RKEXTENDSOCIAL_DISCO_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_DISCO_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_patreon_enbl">{{ lang('ACP_RKEXTENDSOCIAL_PATREON_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_patreon_enbl" value="1" {% if RKEXTENDSOCIAL_PATREON_ENBL %} id="rkextendsocial_patreon_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_patreon_enbl" value="0" {% if not RKEXTENDSOCIAL_PATREON_ENBL %} id="rkextendsocial_patreon_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_patreon_url">{{ lang('ACP_RKEXTENDSOCIAL_PATREON_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_patreon_url" id="rkextendsocial_patreon_url" value="{{ RKEXTENDSOCIAL_PATREON_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_PATREON_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_bmac_enbl">{{ lang('ACP_RKEXTENDSOCIAL_BMAC_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_bmac_enbl" value="1" {% if RKEXTENDSOCIAL_BMAC_ENBL %} id="rkextendsocial_bmac_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_bmac_enbl" value="0" {% if not RKEXTENDSOCIAL_BMAC_ENBL %} id="rkextendsocial_bmac_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_bmac_url">{{ lang('ACP_RKEXTENDSOCIAL_BMAC_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_bmac_url" id="rkextendsocial_bmac_url" value="{{ RKEXTENDSOCIAL_BMAC_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_BMAC_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_twitch_enbl">{{ lang('ACP_RKEXTENDSOCIAL_TWITCH_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_twitch_enbl" value="1" {% if RKEXTENDSOCIAL_TWITCH_ENBL %} id="rkextendsocial_twitch_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_twitch_enbl" value="0" {% if not RKEXTENDSOCIAL_TWITCH_ENBL %} id="rkextendsocial_twitch_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_twitch_url">{{ lang('ACP_RKEXTENDSOCIAL_TWITCH_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_twitch_url" id="rkextendsocial_twitch_url" value="{{ RKEXTENDSOCIAL_TWITCH_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_TWITCH_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_linkedin_enbl">{{ lang('ACP_RKEXTENDSOCIAL_LINKEDIN_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_linkedin_enbl" value="1" {% if RKEXTENDSOCIAL_LINKEDIN_ENBL %} id="rkextendsocial_linkedin_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_linkedin_enbl" value="0" {% if not RKEXTENDSOCIAL_LINKEDIN_ENBL %} id="rkextendsocial_linkedin_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_linkedin_url">{{ lang('ACP_RKEXTENDSOCIAL_LINKEDIN_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_linkedin_url" id="rkextendsocial_linkedin_url" value="{{ RKEXTENDSOCIAL_LINKEDIN_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_LINKEDIN_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_soundcloud_enbl">{{ lang('ACP_RKEXTENDSOCIAL_SOUNDCLOUD_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_soundcloud_enbl" value="1" {% if RKEXTENDSOCIAL_SOUNDCLOUD_ENBL %} id="rkextendsocial_soundcloud_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_soundcloud_enbl" value="0" {% if not RKEXTENDSOCIAL_SOUNDCLOUD_ENBL %} id="rkextendsocial_soundcloud_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_soundcloud_url">{{ lang('ACP_RKEXTENDSOCIAL_SOUNDCLOUD_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_soundcloud_url" id="rkextendsocial_soundcloud_url" value="{{ RKEXTENDSOCIAL_SOUNDCLOUD_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_SOUNDCLOUD_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_steam_enbl">{{ lang('ACP_RKEXTENDSOCIAL_STEAM_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_steam_enbl" value="1" {% if RKEXTENDSOCIAL_STEAM_ENBL %} id="rkextendsocial_steam_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_steam_enbl" value="0" {% if not RKEXTENDSOCIAL_STEAM_ENBL %} id="rkextendsocial_steam_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_steam_url">{{ lang('ACP_RKEXTENDSOCIAL_STEAM_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_steam_url" id="rkextendsocial_steam_url" value="{{ RKEXTENDSOCIAL_STEAM_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_STEAM_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_reddit_enbl">{{ lang('ACP_RKEXTENDSOCIAL_REDDIT_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_reddit_enbl" value="1" {% if RKEXTENDSOCIAL_REDDIT_ENBL %} id="rkextendsocial_reddit_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_reddit_enbl" value="0" {% if not RKEXTENDSOCIAL_REDDIT_ENBL %} id="rkextendsocial_reddit_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_reddit_url">{{ lang('ACP_RKEXTENDSOCIAL_REDDIT_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_reddit_url" id="rkextendsocial_reddit_url" value="{{ RKEXTENDSOCIAL_REDDIT_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_REDDIT_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
        <dl>
			<dt>
				<label for="rkextendsocial_weibo_enbl">{{ lang('ACP_RKEXTENDSOCIAL_WEIBO_ENBL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="radio" class="radio" name="rkextendsocial_weibo_enbl" value="1" {% if RKEXTENDSOCIAL_WEIBO_ENBL %} id="rkextendsocial_weibo_enbl" checked="checked"{% endif %}/> {{ lang('YES') }} &nbsp;
				<input type="radio" class="radio" name="rkextendsocial_weibo_enbl" value="0" {% if not RKEXTENDSOCIAL_WEIBO_ENBL %} id="rkextendsocial_weibo_enbl" checked="checked"{% endif %}/> {{ lang('NO') }}
			</dd>
		</dl>
		<dl class="extra-space-below">
			<dt>
				<label for="rkextendsocial_weibo_url">{{ lang('ACP_RKEXTENDSOCIAL_WEIBO_URL') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<input type="text" name="rkextendsocial_weibo_url" id="rkextendsocial_weibo_url" value="{{ RKEXTENDSOCIAL_WEIBO_URL }}" placeholder="{{ lang('ACP_RKEXTENDSOCIAL_WEIBO_URL_PLCHLDR') }}" size="52%" />
			</dd>
		</dl>
		</div>
	</fieldset>
	<fieldset>
		<legend><i class="icon fa-check-circle fa-fw"></i>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="hidden" name="action" value="save" />
			<button class="button submit-button" type="submit" value="{{ lang('SUBMIT') }}" name="submit"><i class="icon fa-check fa-fw" aria-hidden="true"></i><span>{{ lang('SUBMIT') }}</span></button>
			<button class="button reset-button" type="reset" value="{{ lang('RESET') }}" name="reset"><i class="icon fa-undo fa-fw" aria-hidden="true"></i><span>{{ lang('RESET') }}</span></button>
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>

</form>

{% INCLUDE 'overall_footer.html' %}
